/*样式重置*/
body,h1,h2,h3,h4,div,p,form,ul,li,dl,dt,dd,span,img,a,input,select,option,em,i,b,strong {margin: 0;padding: 0;}
li {list-style: none;}
img {/*width: 100%;*/height: auto;max-width: 100%;display: block;border: 0 none;vertical-align:top;}
a {text-decoration: none;color: #414141;font-size: 0.28rem;display: block;}
em,i{font-style: normal;}
b,strong{font-weight: normal;}
.clearfix{*zoom:1;}
.clearfix:after{ content: "."; visibility: hidden; display:block; height: 0; clear: both;}
@font-face{font-family: 'SourceHanSansCN';src:url('../font/SourceHanSansCN-Normal.otf');}
body{font-size: 0.24rem;font-family: 'SourceHanSansCN';background-color: #f5f5f5;}
/*html{-webkit-transform:scale(0.875);}*/


header{position: fixed !important;top:0;left:0;z-index: 1000;}
header,footer{width:100%;height:0.88rem;min-height: 0.88rem;line-height: 0.88rem;text-align:center;font-size: 0.38rem;color: #fff;background: #1f95ec;position: relative;}
footer{position: fixed;bottom:0;left: 0;}
footer a{width: 100%;height: 100%;color: #fff;line-height: 0.88rem;text-align:center;}
footer b{width: 100%;height: 100%;color: #fff;line-height: 0.88rem;text-align:center;}
.contentMain{margin-top: 0.88rem;margin-bottom: 1.06rem;}
/*login登录页*/
.loginContanier {background: #1f95ec;width: 100%;height: 100%;position:relative;position:relative;margin-bottom: 0.34rem;}
.loginMain {width: 80.3125%;height: auto;background: url(../images/loginBg.png) no-repeat;background-size: 100% auto;margin: 0 auto;padding: 0 0.24rem;position: relative;z-index: 55;}
.loginMain .loginName,.loginMain .loginPass {display: block;width: 100%;height: 1.04rem;background: #f1f1f1;border: 0 none;font-size: 0.32rem;color: #d9d9d9;}
.loginMain .loginName{border-top-left-radius:0.04rem;border-top-right-radius:0.04rem;}
.loginMain .loginPass {border-bottom-right-radius:0.4rem;border-bottom-left-radius:0.04rem;}
.loginIcon{width:0.4rem;height: 0.4rem;position: absolute;right: 0.3rem;top: 0.32rem;}
.loginPassIcon{top:1.34rem;}
.loginMain .line {display: block;width: 100%;height: 0.02rem;background: #d8d8d8;}
.loginForgetPass{line-height: 0.8rem;font-size: 0.28rem;color:#f5f5f5;height: 0.8rem;width: 1.55rem;margin-top:0.2rem;}
.loginBtnA{width: 2.04rem;height: 1rem;position: absolute;bottom: 0rem;right:0.57rem;z-index: 200;}
.loginBtn{width: 2.04rem;height: 1rem;background: url(../images/loginBtnBg.png) no-repeat;background-size: 100%;position: absolute;bottom: 0rem;right:0.57rem;z-index: 2;font-size: 0.32rem;color: #f5f5f5;text-align: center;line-height: 1rem;border: 0 none;}
.loginReg{position: absolute;bottom: 0;background: #1f95ec;width: 100%;height: auto;}
.loginRegA{height: 1.1rem;line-height: 1.1rem;text-align: center;font-size: 0.28rem;color: #f5f5f5;}


/*news消息页*/
.main{padding-top: 0.36rem 0.36rem 0 0.36rem;width: 100%;height: auto;box-sizing:border-box;}
.newsLi{width: 100%;height: 1.29rem;border-bottom:1px solid #d8d8d8;padding: 0.12rem 0.26rem;box-sizing:border-box;}
.newsLi span{width: 1.07rem;height: 1.07rem;background:url(../icon/icon.png) no-repeat 0 -0.01rem;background-size:5.5rem 3rem;float: left;}
.newsLi .newsSystem{background-position: 0 -1.15rem;}
.newsLi a{font-size: 0.22rem;color: #757575;display: block; margin-left: 1.41rem;line-height: 0.38rem;padding-top: 0.12rem;}
.newsLi a em{font-style: normal;color: #414141;font-size: 0.24rem;}


/*index首页*/
.logo{width:1.6rem;height:0.6rem;margin: 0 auto;margin-top: 0.15rem; }
/*.logo img{ width: 100%;height: auto;max-width: 100%; display: block;border: 0 none;vertical-align: top;}*/

.indexImg{width: 100%;height: auto;margin-top: 0.88rem;}
.indexMain{padding: 0 0.18rem;padding-bottom:0.33rem;background: #f4f4f4;width: 100%;height: auto;box-sizing:border-box;}
.indexTop{width: 100%;height: auto;position: relative;padding-top: 0.33rem;}
.indexTop li{width: 2.55rem;height: 2.6rem;float: left;margin: 0 0.2rem 0;background:#fff;border: 1px solid #dfdfdf;border-radius: 0.04rem;}
.indexTop li a{width: 2.55rem;height: 2.6rem;position: relative;display: block;}
.indexTop li a span{position: absolute;top:0.35rem;left:23%;width: 1.5rem;height: 1.5rem;background: url(../icon/indexIcon.png) no-repeat 0 -1.67rem;background-size:5.5rem 5rem;}
.indexTop li a .indexTopDaili{background-position: -1.36rem -1.67rem;}
.indexTop li a em{position: absolute;bottom: 0;left: 20%;width: 1.5rem;line-height: 0.78rem;text-align: center;font-size: 0.3rem;color:#414141;font-style: normal;}

.indexMiddle{background: #fff;width: 100%;height: auto;border:1px solid #dfdfdf;border-radius: 0.05rem;margin: 0.33rem auto 0;padding-top: 0.39rem;}
.indexMiddle dl{width: 1.9rem;height: 100%;float: left;}
.indexMiddle dt,.indexMiddle dd{width: 1.51rem;height: 1.51rem;float: left;margin: 0 0.25rem;float: left;}
.indexMiddle dt a{width: 100%;height: 100%;display: block;background:url(../icon/indexIcon.png) no-repeat  -0.08rem 0;background-size: 5.5rem 5rem; }
.indexMiddle dt .indexMiddleWaibao{background-position: -1.66rem 0;}
.indexMiddle dt .indexMiddleJianzhi{background-position: -3.26rem 0;}
.indexMiddle dd{height:0.69rem;line-height: 0.69rem;text-align: center; }
.indexMiddle dd a{font-size: 0.22rem;color: #414141;}

.indexBottom{width: 100%;line-height: 0.52rem;text-align: center;color: #f4f4f4;font-size: 0.22rem;background: #37434c; font-family: "宋体";border-bottom: 0.02rem solid #dedede; margin-bottom: 0.96rem;}
.indexFooter{width: 100%;height:1.06rem;border-top: 0.14rem  solid #f4f4f4; background: #f9f8f8;padding: 0 0.24rem;box-sizing:border-box;position: fixed;left: 0;bottom: 0rem;}
.indexFooter dl{width: 1.2rem;height: 0.96rem;float: left;margin: 0 0.45rem 0 0.31rem;padding-top:0.08rem;}
.indexFooter dl dt{width:100%;height:0.46rem;}
.indexFooter dl dt a{display: block;width: 100%;height: 100%;}
.indexFooter dl .indexFooterIndex{background: url(../icon/indexIcon_01.png) no-repeat -0.01rem 0;background-size: 2.15rem 0.46rem;}
.indexFooter dl .indexFooterNews{background: url(../icon/indexIcon_02.png) no-repeat 0 0;background-size: 2.15rem 0.46rem;}
.indexFooter dl .indexFooterCenter{background: url(../icon/indexIcon_03.png) no-repeat -0.05rem 0;background-size: 2.15rem 0.46rem;}
.indexFooter dl dd{width: 100%;height:0.38rem;text-align: center;line-height: 0.38rem;}
.indexFooter dl dd a{color: #9b9b9b;font-size: 0.18rem;text-align: center}



/*forgerPass忘记密码页*/
.return{position: absolute;left:0.17rem;top:0.28rem;width:0.17rem;height: 0.32rem;background: url(../icon/return.png) no-repeat;background-size:100%;  }
.forgetMain{width: 100%;height: auto;padding-top: 0.36rem;}
.forgetForm{width: 5.66rem;height: auto;margin: 0 auto;border:0.03rem solid #e6e6e6;border-radius: 0.03rem;}
.forgetFormDiv{width: 100%;height: 0.77rem;position: relative;background: #fff;}
.forgetFormDiv input{width: 5rem;height: 0.75rem;border: 0 none;border-bottom: #f5f5f5 1px solid;margin: 0 0.33rem;font-size: 0.32rem;color:#333333;position: relative;}
.forgetFormDiv span{position: absolute;right:0.54rem;top:0.2rem;width: 0.26rem;height: 0.41rem;}
.forgetNumDiv span{background:url(../icon/forgetNum.png) no-repeat;background-size: 100%;}
.forgetYanzhengDiv span{width:1.28rem;background:#1f95ec;border-radius: 0.04rem;right:0.37rem;font-size: 0.2rem;color: #f5f5f5;text-align: center;line-height: 0.4rem;}
.forgetPassDiv span,.forgetConfirDiv span{background:url(../icon/forgetPass.png) no-repeat;background-size: 100%;}

/*comment评论页*/
.commentForm{width:5.58rem;height:2.64rem;margin:0 auto;position: relative;}
.commentForm textarea{width: 100%;height: 100%;border: 0.05rem #eeeeee solid;border-radius: 0.03rem;}
.commentZishu{position: absolute;right: 0.1rem;bottom: 0.05rem;}

/*reg选择注册类型页*/
.regLi{width: 100%;height: 0.8rem;margin-bottom: 0.3rem;}
.regLi a{display: block;padding-left: 0.36rem;font-size: 0.32rem;color:#333333;line-height: 0.8rem;background: #fff;}
.regLi a span{float: right;width:0.16rem;height: 0.32rem;background: url(../icon/next.png) no-repeat;background-size:100%;margin: 0.24rem 0.18rem 0 0;}

/*regPensonal个人会计注册页*/
.regPensonalAgreement{margin-left: 0.34rem;margin-top: 0.28rem;}
.regPensonalAgreement label{font-size: 0.28rem;color:#808080;}
.regPensonalAgreement input{margin-right: 0.1rem;}

/*regCompany企业注册*/
.regLianjie{height: 0.44rem;}
.regLianjieL{float: left;width: 0.1rem;height: 0.44rem;background: #e6e6e6;margin-left: 0.11rem;}
.regLianjieR{float: right;width: 0.1rem;height: 0.44rem;background: #e6e6e6;margin-right: 0.11rem;}
.regShade{position: fixed;z-index:100;top:0.88rem;left: 0;width: 6.06rem;height: 100%;background:rgba(26,26,26,0.85);padding: 0 0.18rem 0 0.18rem;margin: 0 auto;}
.regShadeContainer{position: absolute;bottom: 0.8rem;left: 0;width: 100%;height: auto;}
.regShadeUl{width: 100%;height: auto;border-top-left-radius: 0.05rem;border-top-right-radius: 0.05rem;}
.regShadeUl li{height: 0.68rem;background: #f0f0f0;border-top: 0.02rem solid #cecece;font-size: 0.3rem;color: #333333;text-align: center;line-height: 0.68rem; }
.regShadeUl .regShadeTit{height: 0.63rem;line-height: 0.63rem;font-size: 0.24rem;color: #b2b2b2;border-top: 0 none;border-top-left-radius: 0.05rem;border-top-right-radius: 0.05rem;}
.regShadeCancle{width: 100%;height: 0.52rem;line-height: 0.52rem;text-align: center;color: #1f95ec;font-size: 0.28rem;background: #f5f5f5;border-radius: 0.04rem;border:0 none;margin-top: 0.14rem;margin-bottom: 0.17rem;}
.regShadeGuimo li{font-size: 0.24rem !important;}

/*jubao举报页*/
.jubaoSubmit{float: right;margin-right: 0.18rem;font-size: 0.24rem;color:#fff; }
.jubaoText{width: 100%;height: 0.23rem;border: 1px solid #d7d7d7;box-sizing:border-box;padding: 0.2rem;color: #bebebe;line-height: 0.4rem;font-size: 0.3rem;}
.jubaoImg{margin:1.85rem auto;width: 3rem;height: 3rem; }

/*detailPersonal会计详情页*/
.DetailTop{width: 100%;height: auto;position:relative;}
.DetailTopImg{width: 100%;height: 2.26rem;border-bottom: 0.04rem solid #85a7c0;position: relative;}
.DetailTopImg span{position: absolute;top:0.33rem;right:0.19rem;width: 0.46rem;height: 0.46rem;background: url(../icon/guanzhu.png) no-repeat ;background-size: 0.46rem 0.92rem;background-position: 0 0;}
.DetailTopImg .DetailGuanzhu{background-position: 0 -0.46rem;}
.DetailTopPhoto{width: 1.96rem;height: 1.96rem;border: 0.04rem solid #85a7c0;border-radius: 50%;position: absolute;top:1.2rem;left: 0.35rem;overflow: hidden;}
.detailTag{height: 1.02rem;padding-left: 2.58rem;}
.detailTag dt{color: #1f95ec;font-size: 0.36rem;line-height: 0.52rem;font-weight: normal;}
.detailTag dd{font-size: 0.22rem;color: #333333;float: left;line-height: 0.32rem;margin-right: 0.16rem;}
.detailTag dd span{width:0.32rem;height:0.32rem;float:left;background: url(../icon/detailTop.png) no-repeat;background-size: 100%;margin-right: 0.05rem;}
/*.detailTab1{padding:0 4rem;}*/
.detailTabLi{width:33.333333%;background: #fff;border: 0 none;text-align: center;}
.detailTabBg{position: absolute;bottom: 0;left: 0;}
.detailComment{width: 100%;height: 0.6rem;background: #fff;float: left;}
.detailComment span{float: left;margin-left: 0.31rem;font-size:0.32rem;color: #1f95ec;line-height: 0.6rem;}
.detailComment a{float: right;width: 0.38rem;height: 0.38rem;margin: 0.11rem 0.33rem 0 0;}
.detailCommentMain{border-bottom: 1px solid #d4d4d4;height: 1.98rem;float: left;padding-right: 0.32rem;}
.detailCommentMain h3{float: left;width: 0.64rem;height: 0.64rem;margin:0.34rem 0 0 0.21rem;border-radius: 50%;overflow: hidden;}
.detailCommentMain dl{float: left;margin-left: 0.58rem;width: 4.36rem;}
.detailCommentMain dt{padding-top: 0.21rem;font-size: 0.32rem;color: #666666;font-weight: normal;}
.detailCommentMain dt span{font-size: 0.22rem;line-height: 0.48rem;display: block;}
.detailCommentMain dd{padding:0 0.5rem 0 0.2rem;font-size: 0.28rem;color: #333333;line-height: 0.38rem; }
.detailExperienceL{margin-left: 0.42rem;}

.detailTab2{width: 100%;height: auto;background: #f5f5f5;padding-top: 0.16rem;padding-bottom: 0.38rem;}
.detailTab2 li{width: 2.65rem;height: 0.7rem;margin-left: 0.47rem;float: left;line-height: 0.7rem;margin-bottom: 0.1rem;font-size: 0.3rem;color: #333333;}
.detailTab2 li span{width: 0.4rem;height: 0.4rem;float: left;background: url(../icon/detailL.png) no-repeat;background-size: 0.4rem 0.8rem;margin-top: 0.15rem;margin-right: 0.07rem;}
.detailTab2 li em{font-size: 0.3rem;color: #1f95ec;margin-left: 0.25rem;}
.detailTab2 .detailZhichenLan span{background-position: 0 0;}
.detailTab2 .detailZhichenHui span{background-position: 0 -0.4rem;}

/*specilist专家推荐页面*/
/*.spacialistMain{padding: 0 2.4rem;}*/
.specilistBtn{width: 100%;height: 0.68rem;background:#f5f5f5;border: 0 none;border-bottom: 0.02rem solid #1f95ec;text-align: left;position: relative;padding: 0 0.24rem;}
.dropdown b{width: 100%;height: 100%;line-height: 0.52rem;display: block;}
.specilistBtn span{width: 0.32rem;height: 0.16rem;background: url(../icon/xiala.png) no-repeat;background-size: 100%;position: absolute;right: 0.26rem;top: 0.21rem;}
.specilistBtnIcon{background: url(../icon/xiala1.png) no-repeat 0 0 !important;background-size: 100% !important;}
.specialistUl{width: 100%;border-radius:0;padding: 0;border: 0 none;}
.specialistUl li{width: 100%;height: 0.65rem;border-bottom: 1px solid #d4d4d4;background: #f5f5f5;line-height: 0.65rem;font-size: 0.28rem;color: #333333;padding: 0 0.16rem;}
.specialistL{width: 100%;height: auto;}
.specialistL li{width: 100%;height: 1.2rem;padding: 0 0.16rem;margin: 0.4rem 0;}
.spacialistImg{width: 1.2rem;height: 1.2rem;float: left;margin-right: 0.4rem;overflow: hidden;}
.spacialistText{float: left;}
.spacialistName{color: #1f95ec;font-size: 0.32rem;line-height: 0.32rem;}
.spacialistDuty{font-size: 0.28rem;color: #333;line-height: 0.66rem;}
.spacialistE{color: #333;font-size: 0.24rem;line-height: 0.24rem;display: block;}
.specialistShade{width: 100%;height: 100%;background:rgba(49,49,49,0.87);position: absolute;top: 1.6rem;left: 0;}

/*specailistInfo专家信息页*/
.specailistInfoMain{width: 100%;height: auto;}
.specailistInfoTop{position: relative;width: 100%;height: auto;background: url(../images/specailistInfoBg.jpg) no-repeat;background-size: 100%;padding-top: 0.2rem;}
.specailistInfoTouxiang{width: 1.59rem;height: 1.59rem;overflow: hidden;border: 0.04rem solid #b3b3b3;border-radius: 50%;}
.specailistInfoName{text-align: center;font-size: 0.36rem;color: #1f95ec;line-height: 0.75rem;}
.specailistInfoT{padding:0;width: 2.9rem;height: 0.32rem;margin-bottom: 0.4rem;}
.specailistInfoA{width: 100%;height: auto;}
.specailistInfoL{float: left;width: 2.08rem;height: auto;margin-bottom: 0.1rem;text-align: right;font-size: 0.32rem;line-height: 0.6rem;color: #333;}
.specialistInfoR{float: left;margin-left: 0.4rem;padding-top: 0.18rem;}
.specialistInfoR li{font-size: 0.28rem;color: #333333;line-height: 0.28rem;margin-bottom: 0.08rem;}

/*agency代理记账页面*/
.agencyMain{padding: 0.3rem 0.24rem 0 0.2rem;}
.agencyMain li{width: 2.84rem;}
.agencyLiL{float: left;}
.agencyLiR{float: right;}
.agencyTop1,.agencyTop2{height: 0.59rem;margin-bottom: 0.31rem;text-align:center;padding-left:1rem;font-size: 0.3rem;color: #404040;line-height: 0.6rem;}
.agencyTop1{background: url(../images/buyMust.jpg) no-repeat;background-size: 100%;}
.agencyTop2{background: url(../images/kefu.jpg) no-repeat;background-size: 100%;}
.agencyMainLi{width: 2.84rem;height: 2.28rem;position: relative;margin-bottom: 0.23rem;}
.agencyMainLi span{position: absolute;right: 0.25rem;bottom:0.77rem;width: 0.87rem;height: 0.27rem;line-height: 0.38rem;text-align: center;font-size: 0.18rem;color: #f4f4f4;}
.agencyMainLi1{background: url(../images/daili1.jpg) no-repeat;background-size: 100%;}
.agencyMainLi2{background: url(../images/daili2.jpg) no-repeat;background-size: 100%;}
.agencyMainLi3{background: url(../images/daili3.jpg) no-repeat;background-size: 100%;}
.agencyMainLi4{background: url(../images/daili4.jpg) no-repeat;background-size: 100%;}
.agencyMain li a{width: 100%;height: 100%;}

/*notice购买须知页*/
.noticeMain{padding: 0.2rem 0.38rem;}
.noticeMain li{font-size: 0.28rem;line-height: 0.38rem;color: #333;}

/*pay支付页面*/
.payMain li{padding: 0 0.37rem;font-size: 0.32rem;color: #1d262e;background: #fff;}
.payMain span{float: left;}
.payMain em{float: right;}
.payTopLi{width: 100%;height: 1rem;margin-bottom: 0.3rem;line-height: 1rem;}
.payMainLi{width: 100%;height: 1.5rem;line-height: 1.5rem;}
.payMainLi a{width: 100%;height: 100%;}
.payImg{width: 1.44rem;height: 0.86rem;margin: 0.32rem 0.16rem 0 0;float: left;}
.payBtn{float: right;width: 0.42rem;height: 0.42rem;margin-top: 0.54rem;background: url(../icon/payIcon.png) no-repeat;background-size: 0.42rem 0.84rem;background-position: 0 -0.42rem;}
.payLine{width: 100%;height: 1px;background: #d7d7d7;display: block;margin: 0 0.17rem;}
.paySuccess .paySuccessG{font-size: 0.38rem;}
.paySuccess .paySuccessC{font-size: 0.20rem;}

/*recommendA综合推荐页*/
.recommendScroll{width: 100%;height: 0.5rem;line-height: 0.5rem;color: #fe3027;font-size: 0.22rem;background: #fbefc5;padding-left: 0.16rem;position: fixed;top:0.88rem;left: 0;}
.recommendContentMain{margin-top: 1.75rem;}
.returnGuanzhu{cursor: pointer;}

/*certificate证照办理页*/
.certificateLi{width: 2.84rem;height: 2.28rem;position: relative;margin-bottom: 0.23rem;}
.certificateLi1{background: url(../images/certifate1.jpg) no-repeat;background-size: 100%;}
.certificateLi2{background: url(../images/certifate2.jpg) no-repeat;background-size: 100%;}
.certificateLi3{background: url(../images/certifate3.jpg) no-repeat;background-size: 100%;}
.certificateLi4{background: url(../images/certifate4.jpg) no-repeat;background-size: 100%;}
.certificateLi b{font-size: 0.22rem;line-height: 0.24rem;color: #444f4c;position: absolute;top:0.53rem;left: 0.21rem;}
.certificateLi em{font-size: 0.18rem;color: #444f4c;line-height: 0.24rem;position: absolute;top: 0.81rem;right: 0.33rem;}
.certificateLi .certificateZhuce{color:#fc1b2b;line-height: 0.38rem;top:1rem;right: 0.23rem;}

/*documentPrepare证照办理文件准备页*/
.doumentLi{line-height: 0.52rem !important;margin-bottom: 0.7rem;}
.doumentLiA span{font-size: 0.3rem;width: 1.5rem;text-align: right;display: block;}

/*load上滑加载*/
.loading{width: 100%;height: 0.3rem;text-align: center;line-height: 0.3rem;color: green;}